/* --- General Styling --- */
@import "../../.cache/wal/colors-waybar.css";
* {
  font-size: 13px;
  font-family: FiraCode Nerd Font Mono, DemiBold;
  padding: 0;
  margin: 0;
  border: none;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.0);
  border-bottom: 0px;
  color: @color7; /* foreground */
  padding: 0 4px;
}

/* --- Workspaces --- */

#workspaces {
  background-color: @color0; /* module-background */
  border-radius: 0 0 8px 8px;
}

#workspaces button {
  background-color: @color0;
  color: @color7;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
  padding: 0 3px;
}

#workspaces button.active {
  color: @color11; /* workspace-active (green) */
  font-size: 15px;
  text-shadow: 0 0 3px @color11;
}

#workspaces button:hover {
  color: @color6; /* workspace-hover (cyan/aqua) */
}

/* --- Modules --- */

#cpu,
#pulseaudio,
#backlight,
#idle_inhibitor,
#memory,
#disk,
#network,
#custom-vpn,
#battery,
#clock {
  background-color: @color0;
  padding: 0 8px;
}

#network {
  border-bottom-left-radius: 8px;
  /* border-top-left-radius: 8px; */
}

#disk {
  border-bottom-right-radius: 8px;
  /* border-top-right-radius: 8px; */
}

/* --- Battery Status --- */

#battery.charging {
  color: @color11; /* battery-charging (green) */
}

#battery.plugged {
  color: @color5; /* battery-plugged (purple) */
}

@keyframes blink {
  to {
    color: rgba(0, 0, 0, 0.0);
  }
}

#battery.critical:not(.charging) {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: steps(12);
  color: @color1; /* battery-critical (red) */
}

/* --- Audio Status --- */

#pulseaudio.muted {
  color: @color8; /* audio-muted (grey) */
}

#pulseaudio.source-muted {
  color: @color1; /* audio-source-muted (red) */
}

/* --- System Status --- */

#idle_inhibitor.activated {
  color: @color3; /* idle-activated (yellow) */
}

#cpu.critical {
  color: @color1; /* cpu-critical (red) */
}

#memory.critical {
  color: @color1; /* mem-critical (red) */
}
